<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Driftsstatus - Albertslund Kommune</title>
    <meta name="description" content="Velkommen til Albertslund Forsynings nye hjemmeside. Her kan du finde information om fjernvarmen i Albertslund samt læse mere om energibesparelser og Danmarks højeste energitilskud.">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Language" content="da">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Siteimprove meta tags -->
    <meta name="content-editor" content="Miljø &amp; Teknik">
    <meta name="content-responsible" content="Miljø &amp; Teknik">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="stylesheet" href="../static/stylesheet2.css">

    <script type="text/javascript" src="https://kort.albertslund.dk/clientapi/minimap2/mmloader.js" charset="iso-8859-1"></script>
    <script>
        window.pageId = 32117;
    </script>
<body class="site-level-" style="">
<div class="wrapper">
    <div th:replace="/header :: header"></div>

    <div class="container content">
        <div class="row two-column ">
            <div class="xs-12 main-content">
                <div class="row">
                    <div class="xs-12">
                        <h1>Driftsstatus</h1>
                        <p class="textpage-teaser">Her finder du aktuel information om driftsforstyrrelser i varmeforsyningen</p>
                        <hr>
                        <iframe title="" src="https://dk.sms-service.dk/iFrame/driftstatus-map?customerId=fd02e030-1729-4052-ab17-0747a015e553" style="width:100%; height: 900px" frameborder="0" seamless="seamless"></iframe>
                        <p>&nbsp;</p>
                        <p><strong>SMS-service</strong></p>
                        <p><span>Hvis uheldet skulle være ude og der opstår driftsforstyrrelser i det område, hvor du bor, vil du modtage en sms-besked om dette på din mobiltelefon eller e-mail. Du kan tilmelde dig via linket<span>&nbsp;</span><a data-id="32559" href="/kontakt-os/sms-service/" title="SMS-service">Tilmeld sms-service</a>.</span></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;&nbsp;</p>
                        <p><strong>Kontakt Albertslund Forsyning</strong></p>
                        <p>Vognporten 9<br>2620 Albertslund</p>
                        <p>Tlf: 4368 6888<br>Mail:<span>&nbsp;</span><a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                        <p>Telefontider:</p>
                        <table border="0">
                            <tbody>
                            <tr>
                                <td>Mandag - torsdag</td>
                                <td>08.00 - 15.00</td>
                            </tr>
                            <tr>
                                <td>Fredag&nbsp;</td>
                                <td>08.00 - 14.00</td>
                            </tr>
                            </tbody>
                        </table>
                        <p><strong>I akutte situationer uden for normal telefontid kan driftsvagten træffes på 4011 8691</strong></p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="xs-12 sm-12 md-4 right-content hide">
                <a href="/kontakt-os/sms-service/" target="_self" class="splash primary-bg-dark hidden-print">
                    <div class="content">
                        <h3>SMS-service</h3>
                        <hr>
                        <p>Til- eller afmeld dig her</p>
                    </div>
                </a><div class="box-item  jsSetBlockHeight  sec-bg-color  hidden-print">
                <h3>Kontakt Albertslund Forsyning</h3>
                <div class="top"></div>
                <p></p><p>Vognporten 9<br>2620 Albertslund</p>
                <p>Tlf: 4368 6888<br>Mail: <a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                <p>Telefontider:</p>
                <table border="0" style="width: 301px; height: 44px;">
                    <tbody>
                    <tr>
                        <td>Mandag - torsdag</td>
                        <td>08.00 - 15.00</td>
                    </tr>
                    <tr>
                        <td>Fredag&nbsp;</td>
                        <td>08.00 - 14.00</td>
                    </tr>
                    </tbody>
                </table>
                <p>I akutte situationer uden for normal telefontid kan driftsvagten træffes på 4011 8691</p><p></p>
            </div>
            </div>
        </div>
    </div>

    <div class="footer hide-on-print">
        <img class="silhouette" src="../static/img/silhouette1.png" alt="Silhouette" style="margin-top: -0px">
        <div class="footer-content sec-bg-color">
            <div class="container">
                <div class="row">
                    <div>
                        <div class="xs-12 sm-6 md-4 contact">
                            <p>Albertslund Forsyning</p>
                            <p>Vognporten 9<br>2620 Albertslund<br>Tlf.: 4368 6888</p>
                            <p>CVR&nbsp;66137112</p>
                            <p><a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                        </div>
                        <div class="xs-12 sm-6 md-5 links">
                            <div class="clearfix"></div>
                        </div>
                        <div class="xs-12 sm-12 md-3 align-right share">
                            <div class="icons">
                                <a href="?accessibility=1" class="icon round secondary-bg icon-font-size off" title="Tekst størrelse"></a>
                                <a href="?morecontrast=1" class="icon round secondary-bg icon-brightness-contrast off" title="Mere kontrast"></a>
                                <a href="http://www.adgangforalle.dk/" target="_blank" class="icon round secondary-bg icon-bubble" title="Læs Højt"></a>
                            </div>
                            <div class="icons">
                                <a href="https://www.facebook.com/Albertslund-Forsyning-375518805873099/" target="_blank" class="icon round icon-facebook" title="Facebook"></a>
                            </div>
                            <div class="icons">
                                <a href="https://albertslund.dk/umbraco#/content/content/edit/32117" target="_blank">
                                    Redaktør login
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="cookie-notification" style="display: none; bottom: -200px;">
    Cookies hjælper os med at levere vores tjenester. Ved at bruge vores tjenester, accepterer du vores brug af cookies.
    <button>OK</button>
    <a href="http://erhvervsstyrelsen.dk/hvad-er-cookies" target="_blank" title="Læs mere om cookies på denne side">Læs mere</a>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51118307-1');
    ga('send', 'pageview', {
        'anonymizeIp': true
    });
</script>

<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:false,&quot;ss&quot;:true}" style="display: none;"></div></body>
</html>