<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Energibesparelser - Albertslund Kommune</title>
    <meta name="description" content="Test sektion subside energiTest sektion subside energiTest sektion subside energi">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Language" content="da">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- RSS FEEDS -->
    <!-- Siteimprove meta tags -->
    <meta name="content-editor" content="admini">
    <meta name="content-responsible" content="admini">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="stylesheet" href="../static/stylesheet2.css">
    <!-- current PageId for Javascript -->
    <script>
        window.pageId = 27867;
    </script>
<!--    <style type="text/css">.fancybox-margin{margin-right:12px;}</style></head>-->
<body class="site-level-" style="">
<div class="wrapper">
    <header class="container">
        <div class="topbar row">
            <div class="xs-12">
                <a href="/" class="hidden-print">
                    <img src="../static/img/albertslund-forsyning-logo.png" alt="logo" class="logo hidden-print">
                </a>

                <img src="../static/img/albertslund-forsyning-logo.png" alt="logo" class="logo visible-print">
                <div class="hidden-sm hidden-xs  pull-right align-right hide-on-print">
                    <nav class="quicklinks">
                        <a href="/fjernvarme/om-os/" title="Om os">Om os</a>/					<a href="/fjernvarme/selvbetjening/" title="Selvbetjening">Selvbetjening</a>/					<a href="/kontakt-os/" title="Kontakt os">Kontakt os</a>/					<a href="/behandling-af-data/" title="Behandling af data">Behandling af data</a>

                        <div class="clearfix"></div>
                    </nav>
                </div>
                <div class="hidden-md hidden-lg">
                    <div class="menu-trigger primary-bg hide-on-print"><i class="icon-list"> </i><span>Menu</span></div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="menu hide-on-print">
            <div>

                <form class="search-field" action="/soeg" method="get">
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" class="formcontrol search-input ui-autocomplete-input" id="q" name="q" placeholder="Skriv hvad du søger..." aria-label="Skriv hvad du søger..." autocomplete="off">
                    <input type="hidden" value="Skriv hvad du søger...">
                    <button class="search-button"></button>
                </form>

                <input type="hidden" value="1">
                <nav id="navigation" class="topnavigation collapse-navigation hide-on-print">
                    <ul id="mega-menu">
                        <li class="expandable theme-  ">

                            <a href="/fjernvarme/" title="Fjernvarme">
                                Fjernvarme
                            </a>

                            <ul>
                                <li class="   ">

                                    <a href="/fjernvarme/hvad-er-fjernvarme/" data-items-src="/fjernvarme/hvad-er-fjernvarme/?alttemplate=MainNavigationSubStructure" title="Hvad er fjernvarme?">
                                        Hvad er fjernvarme?
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/tao-ordningen/" data-items-src="/fjernvarme/tao-ordningen/?alttemplate=MainNavigationSubStructure" title="TAO-ordningen">
                                        TAO-ordningen
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/udskiftning-af-maalere/" data-items-src="/fjernvarme/udskiftning-af-maalere/?alttemplate=MainNavigationSubStructure" title="Udskiftning af målere">
                                        Udskiftning af målere
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/lavtemperaturfjernvarme/" data-items-src="/fjernvarme/lavtemperaturfjernvarme/?alttemplate=MainNavigationSubStructure" title="Lavtemperaturfjernvarme">
                                        Lavtemperaturfjernvarme
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/ledningsoplysninger/" data-items-src="/fjernvarme/ledningsoplysninger/?alttemplate=MainNavigationSubStructure" title="Ledningsoplysninger">
                                        Ledningsoplysninger
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/takster-og-bestemmelser/" data-items-src="/fjernvarme/takster-og-bestemmelser/?alttemplate=MainNavigationSubStructure" title="Takster og bestemmelser">
                                        Takster og bestemmelser
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/planlagte-renoveringer/" data-items-src="/fjernvarme/planlagte-renoveringer/?alttemplate=MainNavigationSubStructure" title="Planlagte renoveringer">
                                        Planlagte renoveringer
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/driftsstatus/" data-items-src="/fjernvarme/driftsstatus/?alttemplate=MainNavigationSubStructure" title="Driftsstatus">
                                        Driftsstatus
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/fjernvarme/covid-19/" data-items-src="/fjernvarme/covid-19/?alttemplate=MainNavigationSubStructure" title="COVID-19">
                                        COVID-19
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li class="expandable theme- current ">

                            <a href="/energibesparelser/" title="Energibesparelser">
                                Energibesparelser
                            </a>

                            <ul>
                                <li class="  current ">

                                    <a href="/energibesparelser/energibesparelser/" data-items-src="/energibesparelser/energibesparelser/?alttemplate=MainNavigationSubStructure" title="Energibesparelser">
                                        Energibesparelser
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/energibesparelser/energiraadgivning/" data-items-src="/energibesparelser/energiraadgivning/?alttemplate=MainNavigationSubStructure" title="Energirådgivning">
                                        Energirådgivning
                                    </a>

                                </li>
                                <li class="   ">

                                    <a href="/energibesparelser/energitilskud/" data-items-src="/energibesparelser/energitilskud/?alttemplate=MainNavigationSubStructure" title="Energitilskud">
                                        Energitilskud
                                    </a>

                                </li>

                            </ul>
                        </li>
                        <li class="   ">

                            <a href="/driftsstatus/" data-items-src="/driftsstatus/?alttemplate=MainNavigationSubStructure" title="Driftsstatus">
                                Driftsstatus
                            </a>

                        </li>
                    </ul>

                    <div id="open-current-page-in-menu" class="show-navigation primary-bg hide-on-print">
                        <a href="#">Vis menuen</a>
                        <input type="hidden" value="True 0">
                    </div>

                    <div class="hidden-lg mobile-quicklinks hidden-md">
                        <nav class="quicklinks">
                            <a href="/fjernvarme/om-os/" title="Om os">Om os</a>					<a href="/fjernvarme/selvbetjening/" title="Selvbetjening">Selvbetjening</a>					<a href="/kontakt-os/" title="Kontakt os">Kontakt os</a>					<a href="/behandling-af-data/" title="Behandling af data">Behandling af data</a>

                            <div class="clearfix"></div>
                        </nav>
                    </div>
                </nav>
                <div class="clearfix"></div>
            </div>
            <div style="margin-top:15px">
                <hr>
            </div>
        </div>

    </header>

    <div class="container content">




        <div class="row two-column ">

            <div class="xs-12 sm-12 md-8 main-content">

                <div class="row">

                    <div class="xs-12 sm-12 md-11">

                        <h1>
                            Energibesparelser
                        </h1>
                        <p class="textpage-teaser">
                            Få øget komfort i din bygning og hjælp med at nedbringe byens og dit eget varmetab
                        </p>

                        <hr>

                        <img class="default-margin-bottom hidden-print" style="margin-bottom: 15px;" width="100%" src="../static/img/bjerre-radiator.jpg?crop=0.0128118678354686,0.29586038961039,0.25497600543,0.137532742606343&amp;cropmode=percentage&amp;width=700&amp;height=300&amp;rnd=131871818580000000" alt="Energibesparelser - Albertslund Kommune">


                        <!-- Insert default "beforeContent" markup here -->


                        <p>Bygninger i EU forventes at&nbsp;nedsætte deres energiforbrug. Det gælder også varmeforbruget i Albertslund, hvor alle bygningsejere opfordres til at hjælpe med at efterisolere og effektivisere.</p>
                        <p>En god velisoleret bygning har et meget lille behov for tilført varme. Det gælder også for Albertslunds mange boliger og erhvervsbygninger, der for de flestes vedkommende er bygget i 1960- og -70'erne. Mange er lavet i beton og de fleste har store glasarealer, der giver kolde rum om vinteren og meget varme rum om sommeren.</p>
                        <p>Energirenoveringen af Albertslund er i fuld gang. Hundredevis af lejerrækkehuse har allerede reduceret varmeforbruget med 50-60 % , og i hundredevis af&nbsp;gårdhavehuse er på vej.</p>


                        <!-- Insert default "afterContent" markup here -->






                    </div>

                </div>

            </div>
            <div class="xs-12 sm-12 md-4 right-content ">




            </div>
        </div>




    </div>

    <div class="footer hide-on-print">

        <img class="silhouette" src="../static/img/silhouette1.png" alt="Silhouette" style="margin-top: -0px">

        <div class="footer-content sec-bg-color">

            <div class="container">

                <div class="row">


                    <div>

                        <div class="xs-12 sm-6 md-4 contact">
                            <p>Albertslund Forsyning</p>
                            <p>Vognporten 9<br>2620 Albertslund<br>Tlf.: 4368 6888</p>
                            <p>CVR&nbsp;66137112</p>
                            <p><a href="mailto:info@albforsyning.dk">info@albforsyning.dk</a></p>
                        </div>

                        <div class="xs-12 sm-6 md-5 links">



                            <div class="clearfix"></div>
                        </div>

                        <div class="xs-12 sm-12 md-3 align-right share">
                            <div class="icons">

                                <a href="?accessibility=1" class="icon round secondary-bg icon-font-size off" title="Tekst størrelse"></a>
                                <a href="?morecontrast=1" class="icon round secondary-bg icon-brightness-contrast off" title="Mere kontrast"></a>
                                <a href="http://www.adgangforalle.dk/" target="_blank" class="icon round secondary-bg icon-bubble" title="Læs Højt"></a>
                            </div>
                            <div class="icons">


                                <a href="https://www.facebook.com/Albertslund-Forsyning-375518805873099/" target="_blank" class="icon round icon-facebook" title="Facebook"></a>
                            </div>
                            <div class="icons">
                                <a href="/umbraco#/content/content/edit/27867" target="_blank">
                                    Redaktør login
                                </a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<div id="cookie-notification">
    Cookies hjælper os med at levere vores tjenester. Ved at bruge vores tjenester, accepterer du vores brug af cookies.
    <button>OK</button>
    <a href="http://erhvervsstyrelsen.dk/hvad-er-cookies" target="_blank" title="Læs mere om cookies på denne side">Læs mere</a>
</div>

<!-- fancyBox -->
<!--<link rel="stylesheet" href="/scripts/fancybox/jquery.fancybox.css" type="text/css" media="screen">-->
<!--<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox.pack.js"></script>-->

<!-- fancyBox Init -->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
<!-- Google Analytics Script -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51118307-1');
    ga('send', 'pageview', {
        'anonymizeIp': true
    });

</script>
<iframe frameborder="0" scrolling="no" style="background-color: transparent; border: 0px; display: none;"></iframe><div id="GOOGLE_INPUT_CHEXT_FLAG" input="" input_stat="{&quot;tlang&quot;:true,&quot;tsbc&quot;:true,&quot;pun&quot;:true,&quot;mk&quot;:false,&quot;ss&quot;:true}" style="display: none;"></div></body>
</html>