<header class="container">
    <div class="topbar row">
        <div class="xs-12">
            <a href="/" class="hidden-print">
                <img src="../static/img/albertslund-forsyning-logo.png" alt="logo" class="logo hidden-print">
            </a>
            <img src="../static/img/albertslund-forsyning-logo.png" alt="logo" class="logo visible-print">
            <div class="hidden-sm hidden-xs  pull-right align-right hide-on-print">
                <nav class="quicklinks">
                    <a href="/fjernvarme/om-os/" title="Om os">Om os</a>/
                    <a href="/fjernvarme/selvbetjening/" title="Selvbetjening">Selvbetjening</a>/
                    <a href="/kontakt-os/" title="Kontakt os">Kontakt os</a>/
                    <a href="/behandling-af-data/" title="Behandling af data">Behandling af data</a>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="hidden-md hidden-lg">
                <div class="menu-trigger primary-bg hide-on-print"><i class="icon-list"> </i><span>Menu</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="menu hide-on-print">
        <div>
            <form class="search-field" action="/soeg" method="get">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input type="text" class="formcontrol search-input ui-autocomplete-input" id="q" name="q" placeholder="Skriv hvad du søger..." aria-label="Skriv hvad du søger..." autocomplete="off">
                <input type="hidden" value="Skriv hvad du søger...">
                <button class="search-button"></button>
            </form>

            <input type="hidden" value="1">
            <nav id="navigation" class="topnavigation collapse-navigation hide-on-print">
                <ul id="mega-menu">
                    <li class="expandable theme-  ">
                        <a href="/fjernvarme/" title="Fjernvarme">Fjernvarme</a>
                    </li>
                    <li class="expandable theme- current ">
                        <a href="/energibesparelser/" title="Energibesparelser">Energibesparelser</a>
                        <ul>
                            <li class="  current ">
                                <a href="/energibesparelser/energibesparelser/" data-items-src="/energibesparelser/energibesparelser/?alttemplate=MainNavigationSubStructure" title="Energibesparelser">Energibesparelser</a>
                            </li>
                            <li class="   ">
                                <a href="/energibesparelser/energiraadgivning/" data-items-src="/energibesparelser/energiraadgivning/?alttemplate=MainNavigationSubStructure" title="Energirådgivning">Energirådgivning</a>
                            </li>
                            <li class="   ">
                                <a href="/energibesparelser/energitilskud/" data-items-src="/energibesparelser/energitilskud/?alttemplate=MainNavigationSubStructure" title="Energitilskud">Energitilskud</a>
                            </li>
                        </ul>
                    </li>
                    <li class="   ">
                        <a href="/driftsstatus/" data-items-src="/driftsstatus/?alttemplate=MainNavigationSubStructure" title="Driftsstatus">Driftsstatus</a>
                    </li>
                </ul>

                <div id="open-current-page-in-menu" class="show-navigation primary-bg hide-on-print">
                    <a href="#">Vis menuen</a>
                    <input type="hidden" value="True 0">
                </div>

                <div class="hidden-lg mobile-quicklinks hidden-md">
                    <nav class="quicklinks">
                        <a href="/fjernvarme/om-os/" title="Om os">Om os</a>
                        <a href="/fjernvarme/selvbetjening/" title="Selvbetjening">Selvbetjening</a>
                        <a href="/kontakt-os/" title="Kontakt os">Kontakt os</a>
                        <a href="/behandling-af-data/" title="Behandling af data">Behandling af data</a>
                        <div class="clearfix"></div>
                    </nav>
                </div>
            </nav>
            <div class="clearfix"></div>
        </div>
        <div style="margin-top:15px">
            <hr>
        </div>
    </div>
</header>